[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
transformers = "*"
tokenizers = "*"
sentencepiece = "*"
shortuuid = "*"
accelerate = "*"
bitsandbytes = "*"
opencv-python = "*"
peft = "*"
pydantic = "*"
markdown2 = {extras = ["all"], version = "*"}
numpy = "*"
pillow = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
einops = "*"
einops-exts = "*"
tensorboardx = "*"
timm = "*"
flash-attn = "*"

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"

[requires]
python_version = "3.10"
